{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
<!-- Content block -->
{% block content %}
<div class="container">
    <form>
        <input type="text" name="event_query" placeholder="Search for Event" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
</div>


  <main role="main" class="container">
      <div class="row">
          <div class="col-md-8">
              {% with messages = get_flashed_messages(with_categories=true)  %}
            {% if messages%}
            {%for category, message in messages%}
            <div class="alert alert-{{category}}">
            </div>
            {% endfor %}
            {%endif%}
            {% endwith%}
              
          </div>
          <div class="col-md-4">
              <div class="content-section">
                  <h3>Event Categories</h3>
                  <p class="text-muted">You can put any information you like.</p>
                  <ul>
                      <li>Art concert</li>
                      <li>Euros 2020</li>
                      <li>Coding</li>
                      <li>Webinar</li>
                  </ul>
              </div>
          </div>
      </div>
  </main>

{% endblock%}
